@media screen and (max-width:1100px) {

    .main{
        height: 900px;
    }
    .text-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .simple{
        font-size: 30px;
    }

    .price-cont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cont1{
        border-right: none;
        margin: 0 auto;
    }

    .doub-part{
        padding: 5px 7px;
    }

    .sub{
        font-weight: bolder;
        font-size: 17px;
        padding: 10px;
    }

    .paid{
        font-weight: bolder;
        font-size: 17px;
        padding: 10px;
    }
}