@media screen and (max-width:1100px) {

    main{
        height: 2785px;
    }
    .text-cont{
        display: flex;
        flex-direction: column;
    }

    .simple{
        font-size: 30px;
        margin: 0 auto;
    }

    .price-cont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cont1{
        border-right: none;
        margin: 0 auto;
    }

    .sub{
        font-weight: bolder;
        font-size: 13px;
    }

    .paid{
        font-weight: bolder;
        font-size: 13px;
    }
}