@media screen and (max-width:1100px) {

    .main{
        height: 900px;
    }
    .text-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .simple{
        font-size: 30px;
    }

    .price-cont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cont1{
        border-right: none;
        margin: 0 auto;
    }
    .double-part{

    }

    .sub{
        font-weight: bolder;
        font-size: medium;
        text-align: center;
    }

    .paid{
        font-weight: bolder;
        font-size: small;
        display: flex;
    }
}