*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    padding: 10PX 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border:  none;
}

main{
    height: 900px;
}

.price-cont{
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
}
.text-cont{
    text-align: center;
    padding: 50px;
}

.simple{
    font-size: 35px;
    padding: 20px 0;
}

.doub-part{
    display: flex;
    justify-content: center;
    /* border: 3px solid brown; */
    background: rgba(128, 128, 128, 0.3);
    width: fit-content;
    margin: 0 auto;
    padding: 5px 2px;
    border-radius: 10PX;
}

.doub-part p{
    padding: 7px 15px;
}

.sub{
    background: white;
    border-radius: 10px;
    margin: 0 4px;
}

.haze{
    display: flex;
    padding-left: 10px;
}

.hash{
    margin-top: 30px;
}

.zero{
    font-size: 55px;
}


.cont1{
    border-right: 2px solid black;
    padding: 29px;
    justify-content: space-between;
}

.lorem{
    margin-bottom: 20px;
    padding-left: 10px;
}
.gate{
    padding: 20px 0;
    padding-left: 10px;
}

.per{
    margin-bottom: 40px;
    padding-left: 10px;
}


.holder{
    margin-top: 30px;
    margin-bottom: 10px;
}

.four{
    border-right: none;
}

.push{
    margin-top: 55px;
}