*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    padding: 10PX 30px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border:  none;
}

button:hover{
    background: whitesmoke;
    border: 2px solid rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
}
main{
    height: 1000px;
}

.price-cont{
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-evenly;
}
.text-cont{
    text-align: center;
    padding: 50px;
}

.simple{
    font-size: 35px;
    padding: 20px 0;
}

.doub-part{
    display: flex;
    justify-content: center;
    background: rgba(128, 128, 128, 0.3);
    width: fit-content;
    margin: 0 auto;
    padding: 5px 3px;
    border-radius: 10PX;
}

.paid{
    padding: 7px 15px;
}

.sub{
    background: white;
    border-radius: 10px;
    padding: 7px 15px;
    margin: 0 4px;
}

.haze{
    display: flex;
    margin-left: 10px;
}

.hash{
    margin-top: 30px;
    font-weight: bolder;
}

.zero{
    font-size: 55px;
}


.cont1{
    border-right: 2px solid black;
    padding-right: 37px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 10px;
}

.lorem{
    margin-bottom: 20px;
    padding-left: 10px;
}
.gate{
    padding: 20px 0;
    padding-left: 10px;
}

.bill{
    margin-bottom: 40px;
    margin-left: 10px;
}

.per{
    margin-left: 10px;
}
.por{
    margin-bottom: 57px;
}
.holder{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.four{
    border-right: none;
    padding-right: 10px;
}

.push{
    margin-top: 55px;
}

.font p{
    margin: 6px 0;
}

.font i{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
}
